<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello 3</title>
</head>
<body>
    <h1>Bienvenue {{ prenom }}</h1>
    <p>
        Mes jeux préférés sont&nbsp;:
        {% set i = 1 %}
        {% for jeu in jeux %}
            {{ i }}:{{ jeu }}
            {% set i = i+1 %}
        {% endfor %}
    </p>
</body>
</html>