<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <!-- ici le bloc css -->
    {% block css %}{% endblock %}
    <!-- ici le bloc javascript -->
    {% block javascript %}{% endblock %}
</head>
<body>
    <!-- ici le bloc body -->
    {% block body %}{% endblock %}
</body>
</html>