{% extends 'Sandbox/Layout/layout1.html.twig' %}

{% block title %}{{ parent() }} : vue 2{% endblock %}

{% block titre_principal %}
aas
{% endblock %}

{% block vue %}
    <p>
        Ceci est un paragraphe de la vue&nbsp;2.
    </p>
{% endblock %}