{% extends 'Sandbox/Layout/layout1.html.twig' %}

{% block title %}{{parent()}} : vue 2 {% endblock %}

{% block titre_principal %} Titre vue 2 {% endblock %}

{% block vue %}
    <p>
        Contenu vue
    </p>
{% endblock %}