{% extends 'Sandbox/Layout/layout3.html.twig' %}

{% block titre %}{{parent()}} : vue 3{% endblock %}

{% block titre_principal %}Titre vue 3{% endblock %}


{% block vue %}
    <p>
        Contenu vue
    </p>
{% endblock %}