<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue !</title>
    </head>
<body>
<h1>Bienvenue dans le bac a sable</h1>
<p>
    Si vous voyez ce message, cela signifie que votre
    premier template Twig (sans code Twig) fonctionne.<br />
    Et bien sur&nbsp;: <q>Hello World!</q>
    </p>
</body>
</html>
